body{
  font-size: 14px;
  /* text-align: center; */
  position: relative;
}

/* #fafaf8  #5aafae */
/* banner 시작 */
.container banner .intro{
  background: url('top2.png') no-repeat center/ cover;
  position: relative;
  height: 320px;
  border: 0;
  outline: 0;
}

.container banner .intro .text{
  position: absolute;
  width: 100%;
  left: 0;
  top: 40%;
  text-align: center;
}
.container banner .intro .text h1 {
  font-size: 3.2em;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -5px;
}
/* .bar 시작 */
.container .bar {
  width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
  border-bottom: 1px solid #d9d9d9;
}
.container .bar section{
  border: 1px solid #000;

  margin: 0 auto;
  padding-left: 60px;
  box-sizing: border-box;
  height: 60px;
  position: relative;
}
/* 메인 콘텐츠 */
.container .middle {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: 80px 20px;
  /* background: lightpink; */
  min-height: 500px;
  text-align: center;
}
/* .main 콘텐츠 시작 */
/* .middle .main {
  border: 1px solid #000;
} */
.middle .main .service .img {
  margin: 50px 0;
}
.middle .main .service h3{
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: -2px;
}
.middle .main .service h4 {
font-size: 1.1em;
letter-spacing: -1px;
}
.middle .main .service h4 span{
  font-weight: 700;
  font-size: 1.05em;
}
/* .content 시작 */
.middle .content {
  margin-top: 20px;
  padding: 20px;
}
.middle .content ul {
  /* background: lightcyan; */
  padding: 30px 50px;
  /* position: relative; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
}
.middle .content ul li {
  /* background: lightgreen; */
  /* border: 1px solid #000; */
  /* position: relative; */
  align-items: center;
    /* position: absolute;
  left: 33.333%;
  top: 0; */
  position: relative;
}

.middle .content ul li .icon {
  /* background: skyblue; */
  margin: 10px auto;
  width: 80px;
  height: 80px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  background-color: #fafaf8 ;
}
.middle .content ul li .icon1{
  background: url('delivery-ico01.png') no-repeat center / 40px;
}
.middle .content ul li .icon2{
  background: url('delivery-ico02.png') no-repeat center / 40px;
}
.middle .content ul li .icon3{
  background: url('delivery-ico03.png') no-repeat center / 40px;
}
.middle .content ul li .icon4{
  background: url('delivery-ico04.png') no-repeat center / 40px;
}
.middle .content ul li:nth-child(n+2)::before{
  content: '';
  /* border: 1px solid #000; */
  width: 40px;
  height: 40px;

  background: url('guide-arrow.png') no-repeat center / cover;
  position: absolute;
  left: -60%;
  top: 80px;
}

.middle .content ul li .txt {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 1.1em;
}
.middle .content ul li .subtxt{
  line-height: 1.6;
}
.middle .content ul li .subtxt span{
  color: #5aafae;

}

.container .bottom a{
  border: 1px solid #5aafae;
  font-weight: 700;
  letter-spacing: -1px;
  color: #5aafae;
  border-radius: 5px;
  width: 150px;
  line-height: 40px;
  margin: 0 5px;
  display: inline-block;
  transition: 0.5s;
}
.container .bottom a:hover{
  color:#fff;
  background: #5aafae;
}


/* quickmenu */
.container .middle{
  position: relative;
}
.container .middle .quickmenu {
  position: fixed;
  top: 30%;
  /* position: absolute; */
  right: 20px;
  border: 1px solid transparent;
  border-radius: 16px;
  /* transition: 0.3s ease-in-out; */
  box-shadow: 0px 0px 12px rgb(0, 0, 0, 30%);
  background: #fff;

}
.container .middle .quickmenu ul {
  width: 120 px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .middle .quickmenu ul li{
  /* display: flex; */
  text-align: center;
  margin-top: 20px;
  /* transition: 0.3s; */
}

.container .middle .quickmenu ul li .icon{
  width: 60px;
  height: 60px;
  /* border: 1px solid #d9d9d9; */
  border-radius: 50%;
  background-color: #fafaf8 !important;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

.container .middle .quickmenu ul li .icon1{
  background: url('quick-ico01.png') no-repeat center / 30px ;
}
.container .middle .quickmenu ul li .icon2{
  background: url('quick-ico02.png') no-repeat center / 30px ;
}
.container .middle .quickmenu ul li .icon3{
  background: url('quick-ico03.png') no-repeat center / 30px ;
}
.container .middle .quickmenu ul li .icon4{
  background: url('kakao_chat.png') no-repeat center / 30px ;
}
.container .middle .quickmenu ul li:hover .icon{
  background-color: rgb(222, 220, 220) !important;
}
.container .middle .quickmenu ul li span{
  font-size: 12px;
}